help-content .embed-container {
    height: 0; 
    max-width: 100%; 
    overflow: hidden; 
    padding-bottom: 56.25%; 
    position: relative;
  }
help-content .embed-container iframe, 
help-content .embed-container object,
help-content .embed-container embed {
height: 100%;
left: 0; 
position: absolute; 
top: 0; 
width: 100%;
}