.inMenuButton {
  --border-color: #424242;
  --background-hover: rgba(56, 128, 255, 0.08);
}

.inMenuButton .buttonText {
  color: #424242;
}

/* Internet Explorer */
/* Fix shrunken ion-selects */
_:-ms-lang(x), ion-select {
  flex: 1 1 auto;
}

/* Styles for the info pane */
.info-pane {
  background-color: #ffffff; /* White background for clarity */
  padding: 20px; /* Padding for breathing room */
  border-radius: 8px; /* Rounded corners */
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
  margin: 10px 0; /* Margin for spacing */
}

/* General styling for step containers */
.step-container {
  margin-bottom: 20px; /* Space between steps */
  border: 1px solid #e0e0e0; /* Light border around each step */
  border-radius: 6px; /* Rounded corners */
  padding: 15px; /* Padding within each step */
  background-color: #f7f7f7; /* Light background color for steps */
}

/* Styling for step titles */
.step-title {
  font-size: 18px; /* Font size for titles */
  margin-bottom: 10px; /* Space below title */
}

/* Button styles */

.step-button:disabled,
.sketch-button:disabled,
.buffer-button:disabled,
.action-button:disabled {
  background-color: #c0c0c0; /* Disabled button color */
  cursor: not-allowed; /* Change cursor for disabled */
}

.step-button:hover:not(:disabled),
.sketch-button:hover:not(:disabled),
.buffer-button:hover:not(:disabled),
.action-button:hover:not(:disabled) {
  background-color: #0056b3; /* Darker shade on hover */
}

/* Buffer control styles */
.buffer-controls {
  display: flex;
  flex-direction: column; /* Arrange items vertically */
  gap: 10px; /* Space between items */
}

.buffer-input,
.buffer-select {
  padding: 8px; /* Input and select padding */
  border: 1px solid #ccc; /* Input and select border */
  border-radius: 4px; /* Rounded corners */
  font-size: 16px; /* Font size */
}

.buffer-buttons {
  display: flex; /* Flexbox layout for buttons */
  justify-content: space-between; /* Space out buttons */
}



.action-bar {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.icon {
  margin-right: 8px;
  font-size: 16px;
}